*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

#Top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 100px;
    /* height: 940px;
    width: 1233px; */
    padding-left: 200px;
}



.text h1{
    font-size: 74px;
}

.text p{
    font-size: 18px;
}



#Help{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    padding-top: 100px;
    /* height: 940px;
    width: 1233px; */
    padding-left: 200px;    
}



#Help h1{
    font-size: 40px;
}



#Help p{
    font-size: 18px;
}






#Help img{
    width: 595px;
    height: 416px;
    border-radius: 20px;    
}





#Why-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 200px;
    padding-top: 50px;
}

.box{
    height: 268px;
    width: 275px;
    background-color: #DDC7BB;
    color:#2B1B12 ;
    border-radius: 18px;

}




#Popular{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 100px;
    padding: 0;
}



.Popular{
    height: 534px;
    width: 382px;
    background-color: #DDC7BB;
    border-radius: 18px;
    box-shadow: 0 0 8px #DDC7BB;
}


.Popular-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}



.Split{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}






/* From Uiverse.io by cssbuttons-io */ 
.button {
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid navy;
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: goldenrod;
    background-color: transparent;
    
  }
  
  .button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: navy;
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  .button:hover {
    color: goldenrod;
  }
  
  .button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  .button:hover:before {
    top: -30px;
    left: -30px;
  }
  
  .button:active:before {
    background: #3a0ca3;
    transition: background 0s;
  }




